@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

.str-chat__channel {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #c9e8c9, #b7e7bb);
  height: 100%;
}

.str-chat__container {
  max-width: 1200px;
  width: 100%;
  height: 80% !important;
  margin: 0 auto !important;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.str-chat__list {
  background-color: #ffffff;
  padding: 12px;
}

.str-chat__list-notifications {
  display: none;
}

.str-chat__message-input {
  border-top: 1px solid #ddd;
}

@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

/* For Firefox */
html {
  scrollbar-width: none;
}

/* For Chrome, Safari, and Opera */
html::-webkit-scrollbar {
  display: none;
}

/* For Internet Explorer and Edge */
html {
  -ms-overflow-style: none;
}
